PyQt6~=6.9.1
PyQt6_sip~=13.10.2
future~=1.0.0
pip~=25.2
charset-normalizer~=3.4.2
setuptools~=78.1.0
cffi~=1.17.1
pyinstaller~=6.12.0
PyQt5~=5.15.11
pygame~=2.6.1
certifi~=2025.7.14
requests~=2.32.4
urllib3~=2.5.0
idna~=3.10
packaging~=24.2
pyparsing~=3.2.3